/*menu*/
.cabecalhoPrincipal .container{
    display: flex; /*falando que o dispaly virou um flexbox*/
    align-items: center; /*alinhando os itens verticalmente*/
    justify-content: space-between; /*adicionando espaço entre os itens*/
}

.cabecalhoPrincipal-nav{
    display: flex; /*o menu ficou alinhando um do lado do outro*/
}


/*--------------------------- conteúdo principal-----------------------------------------------------------*/ 
.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 20%;
}

.conteudoPrincipal-cursos-link:nth-child(4n)/*tirando a margin do 4 elemento*/ {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin-right: 0;
}
.videoSobre .container {
    display: flex;
    justify-content: space-between;
}
.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.videoSobre-sobre-list{
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2; /* o video diminui duas vezes mais do que o alurinha*/
}
/*------------------------rodapé-----------------------------------------------------------------*/
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around; /*espaço em volta dos elementos*/
    width: 70%; /*aumentando o tamanho do elemento*/
    margin-right: 5% ;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{ /*alinhou o tamanho do input com o botao*/
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction:column ; /*direção do flex, 'row' é o padrão, column é vertical*/
    flex-wrap: wrap; /*quebrar para proxima coluna, quando não couber no 'pai'*/
    /* shorthard - flex-flow: column wrap;*/
    height: 253px; /*tamanho do pai*/
}

/*---------------------------------------------------------parte mobile---- pode ser colocado tudo junto, só está separado para melhor entendimento*/
@media(max-width: 768px ){

    .cabecalhoPrincipal-nav{
        flex-direction: column;
    }

    .cabecalhoPrincipal .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .conteudoPrincipal-cursos{
        flex-direction: column;
    }

    .conteudoPrincipal-cursos-link{
        width: 100%;
    }

    .rodapePrincipal-navMap-list{
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
        align-items: center;
    }

    .rodapePrincipal-patrocinadores-list {
        margin: 0;
        width: 100%;
    }

    .rodapePrincipal-contatoForm{
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset{
        justify-content: center;
    }

    .cabecalhoPrincipal-nav-link-app{
        order: -1; /*mudando a ordem do nome*/
    }

    .videoSobre .container{
        flex-direction: column;
    }

    .videoSobre-video{
        margin: 0 auto;
    }
}